* {
	#border: 1px solid red;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f0f0f0;
	font-family: sans;
}

.site-header-img img {
	margin: auto;
	display: block;
}
.site-header-links {
	background-color: #333;
}

.site-header-links ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0 10%;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.site-header-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 0.7em;
    text-decoration: none;
}

.site-header-links li p {
	color: white;
    text-align: center;
    padding: 1em 0.7em;
}

.site-header-links a:hover {
	background-color: #111;
}

.site-container {
	width: 80%;
	height: 100%;
	margin: 0.3em auto;
}

.site-content {
	width: auto;
	overflow: hidden;
}

.site-sidebar {
	width: 25%;
	border-radius: 10px;
	background-color: #ddd;
	max-width: 300px;
	float: right;
	padding: 0.1em;
}

.site-sidebar-menu li a {
	display: block;
	text-decoration: none;
	padding: 0.3em 0em;
	color: #111
}

.site-sidebar-menu a:hover {
	color: #333;
}

.site-sidebar-menu p {
	font-size: 1.2em;
	padding: 0.3em;
	border-bottom: 1px dotted #777;
}

.site-sidebar-menu ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0 5%;
}

.site-footer {
	margin: 0 10%;
	text-align: center;
}

.post-container {
	background-color: #ddd;
	border-radius: 10px;
	padding: 1em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.post-header {
	padding: 0em 0em;
}

.post-header h1, h1 a {
	text-decoration: none;
	font-size: 1.5em;
	color: #111;
}

.post-header a:hover {
	color: #333;
}

.post-header p a {
	color: #777;
	font-size: 1em;
	text-decoration: none;
}
.post-header p {
	color: #777;
	font-size: 0.75em;
	text-decoration: none;
}

.post-content {
		padding: 1em 0 0 0;
}
.post-content a {
	color: #333;
	text-decoration: none;
}

.post-content a:hover {
	color: #aaa;
	text-decoration: none;
}

.form-box-child {
	background-color: #ddd;
	border-radius: 10px;
	padding: 1em;
	margin: auto;
	display: inline-block;
	vertical-align: top;
}

.form-box-parent {
	text-align: center;
}

.form-box-error {
	margin-bottom: 0.5em;
	font-weight: bold;
}

.comment {
	background-color: #ccc;
	border-radius: 10px;
	padding: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

.comment-header {
	color: #777;
	font-size: 0.75em;
	padding: 0 0 1em 0;
}

