<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/res/style.css">
		<title>Pepperchips installer</title>
	</head>
	<body>
		<form submit="/install.py" method="POST">
			<input type="text" name="username">
			<input type="password" name="password">
			<input type="text" name="email">
			<input type="submit" name="submit">
		</form>
	</body>
</html>
